.unlock-title {
  .i-icon {
    padding-left: 0.15rem;
  }
}

.unlock-page {
  .btn-unlock {
    $spacing: 1.2rem;
    @include button-variant(
      $card-bg,
      $border-color,
      $card-bg,
      $primary,
      $primary,
      $body-color
    );
    color: $body-color;
    @extend .shadow;
    padding: $spacing;
    margin-bottom: 0.7rem;
    font-size: 1rem;
    .elrond-symbol {
      width: $spacing;
      margin-right: $spacing;
    }
    svg {
      color: $primary;
    }
  }
}
